body{
    background-image: linear-gradient(to bottom,rgb(0, 174, 255),rgb(21, 255, 0));
    text-align: center;
    text-shadow: rgb(14, 15, 15);
}
h1{
    font-weight: 900;
    color: rgb(85, 255, 232);
    font-style: initial;
    width: 1000;
    margin-left: 300;
}
h1{
  width: 500;
  margin-left: 350;
}